* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: transparent;
}

.container-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* TABULEIRO */

.table {
    max-height: 511px;
    max-width: 509px;
    background-color: white;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* QUADRADOS */

.quadrado1 {
    height: 150px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

.quadrado2 {
    height: 165px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

.quadrado3 {
    height: 165px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

.quadrado4 {
    height: 165px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

.quadrado5 {
    height: 165px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

.quadrado6 {
    height: 165px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

.quadrado7 {
    height: 165px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

.quadrado8 {
    height: 165px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

.quadrado9 {
    height: 165px;
    width: 165px;
    background-color: var(--background-color);
    text-align: center;
    font-size: 8rem;
    border: 3px black solid;
}

/* BOTÕES */

.quadrado1 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
}

.quadrado2 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
}

.quadrado3 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
}

.quadrado4 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
}

.quadrado5 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
}

.quadrado6 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
}

.quadrado7 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
}

.quadrado8 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
}

.quadrado9 button {
    height: 100%;
    width: 100%;
    font-size: 8rem;
    background-color: transparent;
    border-color: transparent;
}

button {
    height: 40px;
    width: 90px;
    border: 2px black solid;
}